/*@import url(./reset.css);*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}
header {
    background-image: url(../images/code.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 450px;
    text-align: center;
}
header > h1 {
    font-size: 2em;
    font-weight: bold;
    padding: 100px 1em 0;
}
p {
    margin: 0;
    padding: 1em 0;
}
button {
    display: inline-block;
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    margin-top: 30px;
    font-size: 1em;
}
button:hover {
    background: #eaeaea;
    color: #333;
}
.sectionA {
    background: #eaeaea;
    color: #333;
    padding: 1em;
}

.sectionA > p {
    margin: 10px auto;
    columns: 2;
    column-gap: 2em;
    max-width: 750px;
}
.userCardContainer {
    display: flex;
    justify-content: center;
    color: #333;
    background-color: #333;
    padding: 0 auto;
}
.card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    min-width: 140px;
    width: 25%;
    margin: 1em 10px;
    padding: 0 0 1em;
}
img {
    display: block;
    width: 100%;
    height: auto;
}

.cardText {
    padding: 1.5em;
}
.sectionC {
    background: #fff;
    color: #333;
    padding: 2em;
}
.sectionD {
    display: flex;
    justify-content: space-between;
}
.contactUs {
    background-color: #2690d4;
}
.contactUs,
.aboutUs {
    padding: 2em;
    color: #fff;
}
footer {
    display: flex;
    justify-content: space-around;
    padding: 2em;
    background: #000;
    color: #fff;
    text-align: center;
}
footer a {
    color: #2690d4;
    text-decoration: none;
}
